.desktop {
    z-index: 10;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: right;
}

.navImg img {
    width: 1.5em;
    height: 1.5em;
}

.desktop ul li a {
    transition: opacity 0.2s linear;
    text-decoration: none;
}

.desktop ul li a:hover {
    transition: opacity 0.2s linear;
    opacity: 0.5;
}

.desktop ul li:nth-child(4) {
    margin-left: 1em;
}

.navImg {
    padding: 0.25em !IMPORTANT;
}

.desktop ul li {
    display: inline-block;
}

.desktop ul li a {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mobile {
    display: none;
}

.hamburger {
    width: 3em;
    height: 3em;
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 99;
}

.mobile ul {
    background: rgba(0, 0, 0, 0.95);
    padding-top: 5em;
    padding-bottom: 5em;
    list-style-type: none;
    height: 100vh;
    z-index: 98;
}

.mobileNav {
    transition: all 0.5s linear;
    position: absolute;
    top: 0;
}

.mobile ul li {
    width: 100vw;
}   

.mobile ul li a {
    font-size: 125%;
    transition: opacity 0.3s linear;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    text-align: center;
}

.mobile ul li a:hover {
    transition: opacity 0.3s linear;
    opacity: 0.5;
}