* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: #FFFFFF;

    font-size: 1em;
}

body {
    overflow: hidden;
    background: #080808;
}

body::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url(../images/mountain.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-weight: lighter;
    font-size: 2em;
    line-height: 1.5em;
}

p span {
    font-weight: 500;
}

h3 {
    font-size: 5em;
    font-weight: 400;
}

.slidingHr {
    margin-top: 2em;
    border: 2px solid rgba(0,0,0,0);
    margin-left: 100%;
}

.exerciseHr {
    margin-left: 0%;
}

.animateHr {
    transition: all 1s ease-out;
    border: 2px solid turquoise;
    width: 15%;
    margin-left: 42.5%;
}

nav {
    z-index: 10;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: right;
}

.navImg img {
    width: 1.5em;
    height: 1.5em;
}

nav ul li a {
    transition: opacity 0.2s linear;
    text-decoration: none;
}

nav ul li a:hover {
    transition: opacity 0.2s linear;
    opacity: 0.5;
}

nav ul li:nth-child(4) {
    margin-left: 1em;
}

.navImg {
    padding: 0.25em;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.slideItem {
    transition: left 0.5s ease-in-out;
}

@media screen and (orientation:portrait) {
    .slideItem {
        height: 60%;
    }

    body {
        overflow-y: scroll;
    }
}

#aboutImg {
    width: 12em;
    height: 12em;
    border-radius: 100%;
    border: 3px solid rgba(0,0,0,0);
}

.about {
    transition: left 1s ease-in;
    width: 60%;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.exercises {
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.exerciseList {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.exerciseItem {
    margin: 1%;
    text-align: center;
}

.exerciseItem {
    border-bottom: 2px solid rgba(0,0,0,0.5);
    padding-bottom: 0.5em;
}

.exerciseItem a {
    text-decoration: none;
}

.exerciseItem:hover {
    border-bottom: 2px solid turquoise;
}

.projects {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.item img {
    width: 15em;
    height: 9em;
}

.showcase h4 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0.5em;
}