* {
    margin: 0;
    padding: 0;
}

.content {
    margin-top: 3em;
    margin-left: 20em;
    margin-right: 20em;
}

h1 {
    margin-bottom: 0.6em;
}

h3 {
    margin-bottom: 0.8em;
}

h2 {
    margin-bottom: 0.8em;
}

p {
    margin-bottom: 1.5em;
}

img {
    display: block;
    margin: auto;
}